{% extends "core/base.html" %}
{% block titlepage %}Importar Inventario{% endblock %}

{% block principal %}
<div class="container mt-4">

    <h4 class="mb-3">Importar Inventario desde CSV</h4>

    <!-- Mensajes de éxito o error -->
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
        {% endfor %}
    {% endif %}

    <div class="card p-4 shadow-sm">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Seleccionar archivo CSV:</label>
                <input type="file" name="file" accept=".csv" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">
                Importar Inventario
            </button>

            <a href="{% url 'inventory_list' %}" class="btn btn-secondary ms-2">
                Volver
            </a>

        </form>

    </div>
</div>
{% endblock %}